@use "sass:color";
@use "./theme" as t;

.v-main {
  min-width: 960px;
  > .v-container {
    padding: 30px;
  }
  .backto {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .v-text-field input {
    font-size: t.$middle_text;
    // padding: 8px 12px;
  }

  .v-input {
    > .v-input__details {
      padding: 0 !important;
    }
  }
  .uploader {
    height: 168px;
  }

  .subtable > .v-table__wrapper > table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
  }
  .subtable > .v-table__wrapper > table > tbody > div > div {
    > tr > td {
      border-bottom: 1px solid t.$mono07;
    }
    > tr:last-child > td {
      border-bottom: none;
    }
  }
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

.fieldDesc {
  margin-bottom: 5px;

  > .fieldTitle {
    font-size: t.$big_text;
  }
  > .hint {
    font-size: t.$small_title;
    color: t.$sub_text;
    margin-left: 1em;
  }
}

.v-expansion-panel-title--active > .v-expansion-panel-title__overlay,
.v-expansion-panel-title[aria-haspopup="menu"][aria-expanded="true"]
  > .v-expansion-panel-title__overlay {
  opacity: calc(
    var(--v-hover-opacity) * var(--v-theme-overlay-multiplier)
  ) !important;
}

.apptitle {
  color: t.$contra_text;
}

.v-btn__content {
  color: t.$contra_text;
}
